
data/achat_2014\.csv

data/achat_2014cleaned\.csv

data/menages_2014\.csv

data/produits_achats\.csv

data/purchase_table_full\.npz

data/foyers_dedupliques\.csv

data/foyers_traites\.csv

data/households_matrix_full\.txt

data/products_matrix_full\.txt

sousgroupes_lda_topics\.csv
